.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2b2a2a;
  padding: 5px;
}
table{
  margin: 0 auto;
  max-width: 100%;
}


/* section {
  margin: 40px 20px;
  padding: 20px;
  background-color: #fbfbfb;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #ffffff;
} */

/* h1, h2 {
  color: #ffffff;
} */

.pp {
  word-spacing: 5px;  
}


/* .rounded-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
} */
